<!DOCTYPE html>
<html>
<head>
   <title></title>
</head>
<body>
   <form method="post" class="was-validated1">
      {% csrf_token %}
                                                <div class="row">
                                                   <div class="col-sm-12">

                                                       <div class="form-group">
                                                         <input type="name" class="form-control" name="role" required placeholder="School Name">
                                                      </div>
                                                       <div class="form-group">
                                                         <input type="name" class="form-control" required placeholder="School Name">
                                                      </div>
                                                      <div class="form-group">
                                                         <input type="email" class="form-control" required placeholder="Email">
                                                      </div>
                                                    <div class="form-group">
                                                         <input type="number" class="form-control" required placeholder="Mobile Number">
                                                      </div>
                                                      <div class="form-group">
                                                         <input type="password" class="form-control" required placeholder="Password">
                                                      </div>
                                                      <div class="form-group">
                                                         <input type="password" class="form-control" required placeholder="Confirm Password">
                                                      </div>
                                                      <div class="form-group">
                                                         <button type="submit" class="btn btn-primary commonBtn" id="btnLogin">Continue</button>
                                                      </div>
                                             
                                                   </div>
                                                </div>
                                             </form>
</body>
</html>
